node_modules
.DS_Store
deploy
dist
dist-ssr
dist.zip
dist.tar
dist.war
.nitro
.output
*-dist.zip
*-dist.tar
*-dist.war
coverage
*.local
**/.vitepress/cache
.cache
.turbo
.temp
dev-dist
.stylelintcache
yarn.lock
package-lock.json
.VSCodeCounter
**/backend-mock/data
*.local.code-workspace
# local env files
.env.local
.env.*.local
.eslintcache

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
vite.config.mts.*
vite.config.mjs.*
vite.config.js.*
vite.config.ts.*

# Editor directories and files
.idea
temp
# .vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.history

# TypeScript build info
*.tsbuildinfo
auto-imports.d.ts
components.d.ts
.eslintrc-auto-imports.js
vite.config.mjs
vite.config.d.mts
**/.env.development
0*.md
README.MD
*AUDE.MD
.trae/
mpur*md
withdraw_*
mpvb-*
.env*
payin-*
CHANGEL*.MD
node_modules/
dist/
build/
*.log
*.mdc
.serena
.claude
mpurse.code-workspace-*
.windsurf
mpurse.code-*
*ursorru*
*min.cod*
